<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    
    {{> navbar}}

    <div class="row">
        <div class="col-8">
            <h1>Dragon Ball Super</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis eos expedita veniam quia obcaecati. Neque error accusantium incidunt quas, tenetur fugit ut nam vel dolore perferendis enim facere porro qui.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/dbs.jpg" class="img-thumbnail">
        </div>
    </div>

    {{> footer }}

</body>

</html>