<!DOCTYPE html>
<html lang="en">

{{> head}}

<body>
    {{> navbar}}

    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Hola {{capitalizar nombre}}!</h1>
            <p class="lead">Este texto es un párrafo</p>
            <hr class="my-4">
            <p classs="lead">
                <a class="btn btn-primary btn-lg">Leer más</a>
            </p>
        </div>
    </div>

     {{> footer }}

</body>

</html>